<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Public Statistics</title>
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="stylesheet" href="/styles/publicStatistics.css" />
        <script
            src="/scripts/NavigationController.mjs"
            type="module"
            defer
        ></script>
        <script
            src="/scripts/PublicStatisticsController.mjs"
            type="module"
            defer
        ></script>
    </head>
    <body>
        <div class="total energy card margin bottom large flex column start">
            <span>Total Energy Reported</span>
            <span id="energy-usage" class="value tag margin top small">Not Loaded</span>
        </div>
    </body>
</html>
